<!DOCTYPE html>
<html>
  <head>
    <!-- Generic metadata for search engines-->
    <meta charset='utf-8'>
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="Thoughts and facts on shipping quality software by the team that ships Firefox every 6 to 8 weeks. We talk here about release management at Mozilla, tooling helping decision-making, static analysis and community building arounf our pre-release channels.">
    <meta name="image" content="https://release.mozilla.org/images/750px-All-firefox-logos.png">

    <!-- Schema.org for Google -->
    <meta itemprop="name" content="Mozilla Release Management blog">
    <meta itemprop="description" content="Thoughts and facts on shipping quality software by the team that ships Firefox every 6 to 8 weeks. We talk here about release management at Mozilla, tooling helping decision-making, static analysis and community building arounf our pre-release channels.">
    <meta itemprop="image" content="https://release.mozilla.org/images/750px-All-firefox-logos.png">

    <!-- Twitter -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="Mozilla Release Management blog">
    <meta name="twitter:description" content="Thoughts and facts on shipping quality software by the team that ships Firefox every 6 to 8 weeks. We talk here about release management at Mozilla, tooling helping decision-making, static analysis and community building arounf our pre-release channels.">
    <meta name="twitter:site" content="@MozillaReleases">
    <meta name="twitter:image:" content="https://release.mozilla.org/images/750px-All-firefox-logos.png">

    <!-- Open Graph general (Facebook, Pinterest & Google+) -->
    <meta name="og:title" content="Mozilla Release Management blog">
    <meta name="og:description" content="Thoughts and facts on shipping quality software by the team that ships Firefox every 6 to 8 weeks. We talk here about release management at Mozilla, tooling helping decision-making, static analysis and community building arounf our pre-release channels.">
    <meta name="og:image" content="https://release.mozilla.org/images/750px-All-firefox-logos.png">
    <meta name="og:url" content="https://release.mozilla.org">
    <meta name="og:site_name" content="Mozilla Release Management blog">
    <meta name="og:locale" content="en-US">
    <meta name="og:type" content="website">

    <!-- Icons -->
    <link rel="apple-touch-icon" type="image/png" sizes="180x180" href="/images/favicons/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="196x196" href="/images/favicons/favicon-196x196.png">
    <link rel="shortcut icon" href="/images/favicons/favicon.ico">

    <!-- Fonts and Stylesheets -->
    <link href='https://fonts.googleapis.com/css?family=Architects+Daughter' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="/stylesheets/stylesheet.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/pygment_trac.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/print.css" media="print" />

    <link rel="alternate" type="application/rss+xml" title="{{ site.root_desc }} - Feed" href="/feed.xml">
  </head>

  <body>
    <header>
      <div class="inner">
        <h1><a href="/">{{ site.title }}</a></h1>
        <h2>{{ site.description }}</h2>
      </div>
    </header>

    <div id="content-wrapper">
      <div class="inner clearfix">
        <section id="main-content">

          {{ content }}

        </section>

        <aside id="sidebar">
          <nav class="nav-primary" role="navigation">
            <ul>
                {% for link in site.navigation %}
                {% if page.url == link.url %}
                <li class="active">
                {% else %}
                <li>
                {% endif %}
                    <a href="{{link.url}}">{{link.title}}</a>
                </li>
              {% endfor %}
            </ul>
          </nav>
        </aside>
      </div>
    </div>

  </body>
</html>
