---
layout: default
bodyclasses: "post-template-default single single-post single-format-standard color-scheme-none pattern-none"
---
{{ page.bodyclasses }}
{% assign author = site.authors[page.author] %}
<div class="content">
<article class="post type-post format-standard hentry">

  <header class="entry-header">

    <h1 class="entry-title">{{ page.title }}</h1>

      <div class="entry-info">
        <address class="vcard">
      {% if author != null %}
        <a href="{{ site.authors[post.author].web }}" rel="author">{{ author.display_name }}</a>
    {% endif %}
    </address>
      <time class="date">{{ page.date | date_to_string }}</time>
    </div>

  </header>
  <div class="entry-content">
  {{ content }}
  </div>

</article>
</div>
